h1{
    font-size:large;
    width:33vw;
}
h1>span:first-of-type{
    font-size: xx-large;
    margin-left:-2.5vw;
}
h1>p{
    text-align: right;
    padding-right:5vw;
}

h2{
    font-size: medium;
    text-align: right;
}

h3{
text-align:center;
    font-size: large;
    margin-top:25vh;
}

