/* header */

header {
    justify-content: space-between;
    border: solid white 3px;
}

/* toggle button */

.toggle {
    margin: 0.6em 4em 0 0;
    position: relative;
    width: 55px;
    height: 28px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.toggle:before {
    content: "";
    height: 100%;
    display: block;
    background: darkgray;
}

.toggle:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 22px;
    border-radius: 30px;
    background: #fff;
    transition: 0.2s ease-out;
}

.toggle.checked:before {
    background: #35c759;
}

.toggle.checked:after {
    left: 33px;
}

/* body */

.buttonSection {
    height: clamp(50px, 7.50vh, 100px);
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

/* filter */

.modalContents h1 {
    border-bottom: 2px lightgray solid;
    text-align: center;
}

.modalContents h2 {
    margin-bottom: 1em;
}

.cityTown {
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    margin-right: 1.7em;
}

.priceRange, .housingType, .numberOfBedrooms, .typeOfLease {
    margin-top: 1.2em;
    border-top: 2px lightgray solid;
    padding-top: 0.8em;
}

.price {
    text-align: center;
    font-size: 1.3em;
}

span {
    margin: 0 2em;
}

.minPrice, .maxPrice {
    display: inline;
}

#minprice, #maxprice {
    outline: 2px black solid;
    border-radius: 10px;
}

.housing-tp-buttton {
    background-color: rgb(230, 230, 230);
    font-size: 1.5em;
    padding: 0.5em;
    margin-right: 2em;
}

i {
    margin-right: 0.5em;
}

.lease {
    display: grid;
    grid-template-columns: 5% 45% 5% 45%;
}

.leaseLabel {
    font-weight: normal;
    font-size: 1.3em;
}

.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.6);
}
  
.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 1000px;
    padding: 10px 30px;
    background-color: #fff;
    height : 90vh;
    overflow : auto;
}
  
.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2em;
}

button {
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
#openModal {
    font-size: 1.3em;
    margin: 0.3em 0 0.3em 6em;
}

/* dropdown menu */

.dropdown {
    border-radius: 10px;
    background-color: rgb(190, 190, 190);
    padding: 0.1em;
    margin: 0.3em 30em 0.4em 0em;
}

.btn {
    border: none;
    font-size: 1.3em;
}

/* buttons */

.exportAll, .exportCurrent, .getData {
    font-size: 1.3em;
    margin: 0.3em 0;
}

.getData {
    margin-right: 5em;
}

/* Table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95vw;
    margin: 1em 0 0 2.5em;
}

table tr {
    border-bottom: solid 1px #eee;
}

table th,table td {
    text-align: center;
    padding: 15px 0;
}

table td.icon {
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

table td.icon.row1 {
    background-image: url(../public/images/sample1.jpg)
}

table td.icon.row2 {
    background-image: url(../public/images/sample2.jpg)
}

table td.icon.row3 {
    background-image: url(../public/images/sample3.jpg)
}

table td.icon.row4 {
    background-image: url(../public/images/sample4.jpg)
}

table td.icon.row5 {
    background-image: url(../public/images/sample5.jpg)
}

table tr:nth-child(odd) {
    background: #e9faf9;
}

table th {
    background-color: skyblue;
}